@model SuperChampiniones.Models.Venta

@{
    ViewData["Title"] = "Eliminar Venta";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Venta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NroRecibo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NroRecibo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sector)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sector)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Miembro_VipId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Miembro_VipId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Partido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Partido.EquipoA)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="green-button">Volver</a>
    </form>
</div>

<style>
    .green-button {
        background-color: #00FF00; /* Verde fosforescente */
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
        border: none;
    }

    .green-button:hover {
        background-color: #00CC00; /* Un tono más oscuro al pasar el ratón */
    }
</style>
