@model IEnumerable<SuperChampiniones.Models.Venta>

@{
    ViewData["Title"] = "Ventas";
}

<h1>Ventas</h1>

<p>
    <a asp-action="Create">Registrar Nueva Venta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Número de Recibo</th>
            <th>Sector</th>
            <th>Fecha</th>
            <th>Correo Electrónico</th>
            <th>Miembro Id Ci</th>
            <th>Equipo A</th>
            <th>Equipo B</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NroRecibo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sector)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Email)
                </td>
                <td>
                    @if (item.Miembro_Vip != null)
                    {
                        @Html.DisplayFor(modelItem => item.Miembro_Vip.Ci)


                    }
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Partido.EquipoA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Partido.EquipoB)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Recibo</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
