@model SuperChampiniones.Models.Partido

@{
    ViewData["Title"] = "Eliminar Partido";
}

<h1>Delete</h1>

<h3>Estas seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Partido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipoA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipoA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipoB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipoB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Hora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Hora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlEscudoA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlEscudoA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlEscudoB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlEscudoB)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la Lista</a>
    </form>
</div>
