@model IEnumerable<SuperChampiniones.Models.Partido>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .champions-league-background {
            background: linear-gradient(to right, #1d2671, #c33764); /* Champions League colors */
            color: white;
            padding: 20px;
            border-radius: 10px;
        }

            .champions-league-background h1,
            .champions-league-background p,
            .champions-league-background th,
            .champions-league-background td,
            .champions-league-background a {
                color: white;
            }

            .champions-league-background table {
                width: 100%;
                border-collapse: collapse;
            }

            .champions-league-background th,
            .champions-league-background td {
                border: 1px solid white;
                padding: 8px;
                text-align: left;
            }

            .champions-league-background th {
                background-color: rgba(0, 0, 0, 0.5); 
            }

            .champions-league-background a {
                text-decoration: underline;
            }

                .champions-league-background a:hover {
                    color: #f0e68c; 
                }
    </style>
</head>
<body>
    <div class="champions-league-background">
        <h1>Index</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EquipoA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EquipoB)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha_Hora)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UrlEscudoA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UrlEscudoB)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EquipoA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EquipoB)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha_Hora)
                        </td>
                        <td>
                            <img src="@item.UrlEscudoA" alt="Escudo A" style="width: 50px; height: 50px;" />
                        </td>
                        <td>
                            <img src="@item.UrlEscudoB" alt="Escudo B" style="width: 50px; height: 50px;" />
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
