@model SuperChampiniones.Models.Partido

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Partido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipoA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipoA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipoB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipoB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Hora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Hora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlEscudA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlEscudA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlEscudB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlEscudB)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
